body {
  margin: 20px;
}

.header {
  background-color: gray;
  padding: 20px;
  text-align: center;
}

.body1{  
  margin-top: 20px;
  background-color: aqua;  
  margin-right: 20px;  
  height: 60vh;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.body2{  
  margin-top: 20px;  
  background-color: blueviolet;
  width: 30%;
  height: 60vh; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.footer {
  width: 33%;
  padding: 20px; 
  background: #ddd;
  margin-top: 20px;
  margin-right: 12px;  
  text-align: center;
}

.bodybaris{
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 700px) {
  .header {
    grid-template-columns: repeat(3, 1fr);    
  } 

@media only screen and (max-width: 480px) {
  .header {
    grid-template-columns: repeat(2, 1fr);    
  }
}

@media only screen and (max-width: 320px) {
  .header {
    grid-template-columns: repeat(1, 1fr);
    background-color: pink;
  }

  .header .item:nth-child(even),
  .header .item:nth-child(odd) {
    background-color: unset;
  }
}
  }