body {
  margin: 20px;
}

.header {
  background-color: gray;
  padding: 20px;
  text-align: center;
}

.body1{  
  margin-top: 20px;
  background-color: aqua;  
  margin-right: 20px;  
  height: 60vh;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.body2{  
  margin-top: 20px;  
  background-color: blueviolet;
  width: 30%;
  height: 60vh; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.footer {
  width: 33%;
  padding: 20px; 
  background: #ddd;
  margin-top: 20px;
  margin-right: 12px;  
  text-align: center;
}

.bodybaris{
  width: 100%;
  display: flex;
}


